

<!-- Toolbar -->
<div>
  <title>TESTEZINHO</title>
  <h2>Hello world!!!</h2>
</div>
<div>
<table mat-table [dataSource]="sitList">

  <!-- Definindo cabeçalho e linhas da tabela -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" style="padding-right: 5px;"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns" style="padding-right: 5px;"></tr>

  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let sit" style="cursor:pointer">
      <span>{{sit.id}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="nome" >
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let sit" style="cursor:pointer">
      <span>{{sit.nome}}</span>
    </td>
  </ng-container>

</table>
</div>


<router-outlet></router-outlet>